main {

    $primaryColor: #691103;
    $secondaryColor: #4a4a4a;

    #introBanner {
        height: 600px;

        background-image: url("./img//uvodBanner.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        position: relative;

        #allIntroBanner {
            width: max-content;

            position: absolute;
            top: 20%;
            left: 20%;

            #introBannerText {
                color: $secondaryColor;
                font-family: museo;

                h1 {
                    &:nth-of-type(2) {
                        font-weight: 600;
                    }
                }
            }

            #introBannerButton {
                button {
                    background-color: transparent;
                    color: $primaryColor;
                    border: $primaryColor solid 1px;

                    box-shadow: none;

                    transition: ease-in-out 500ms;

                    &:hover {
                        color: white;
                        background-color: $primaryColor;
                    }
                }
            }
        }
    }



    #introSecond {
        /* border: solid 1px red; */

        width: 65%;
        margin: auto;

        display: flex;
        height: 500px;

        margin-bottom: 10px;

        div {
            /* border: solid 1px green; */
            flex: 1;
            height: 500px;

            &:nth-of-type(1) {

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            &:nth-of-type(2) {
                display: flex;
                flex-direction: column;

                text-align: justify;
                padding: 20px;

                font-family: 'museo-sans', sans-serif;
                color: $secondaryColor;

                a {
                    width: max-content;

                    button {
                        background-color: transparent;
                        color: $primaryColor;
                        border: $primaryColor solid 1px;
                        transition: ease-in-out 500ms;

                        box-shadow: none;

                        &:hover{
                            color: white;
                            background-color: $primaryColor;
                        }
                    }
                }
            }
        }
    }

}

@media (max-width: 900px){

    main{

        #introBanner{
            background-position: right;
        }

        #introSecond{
            flex-direction: column;
        }
    }
}