header{
    background-color: #f6f6f6;

    a{
        text-decoration: none;
        color: #691103;
        padding: 18px;
    }

    #nav-btn{
        display: none;
    }

    nav{
        width: 50%;
        margin: auto;

        display: flex;
        justify-content: space-around;
    }

    .active-link{
        background-color: #691103;
        color: #f6f6f6;
    }
}