$primaryColor: #691103;
$secondaryColor: #4a4a4a;

#order {
    font-family: 'museo-sans', sans-serif;
    text-align: center;

    width: 100%;
    margin: 20px auto;


    #selectProduct {
        margin-bottom: 20px;

        max-width: fit-content;
        padding-right: 50px;

        box-shadow: none;
        border: solid 1px $primaryColor;
    }

    #chosenGelato, #chosenIceCream {
        max-width: 100%;

        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #gelatoHeader, #iceCreamHeader{
        color: $primaryColor;
    }

    .hideHeader{
        display: none;
    }
}

@media (max-width: 900px) {

    #selectProduct {
        margin: auto;
    }
}