$secondaryColor: #4a4a4a;

main{

    #gdpr{
        width: 75%;
        margin: auto;
        text-align: center;
    
        font-family: 'museo-sans', sans-serif;
        color: $secondaryColor;
    
        line-height: 1.8rem;
    }
}