$primaryColor: #691103;
$secondaryColor: #4a4a4a;

.gelato {
    border: solid 1px orange;
    width: max-content;

    display: flex;

    min-height: 420px;
    max-width: 250px;

    .myGelato {
        margin-bottom: 20px;

        img {
            width: 250px;
            height: 250px;
        }

        .gelatoText{
            width: 100%;

            text-align: justify;
            padding: 10px;
        }

        button{
            background-color: white;
            color: $primaryColor;
            border: solid 1px $primaryColor;
        }
    }

}