$primaryColor: #691103;
$secondaryColor: #4a4a4a;

#errorPage {
    width: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'museo-sans', sans-serif;
    color: $secondaryColor;

    h1 {
        text-align: center;
        font-size: 3.5rem;
        font-weight: 100;
    }

    ol {
        li {
            &:nth-of-type(2) {
                a {
                    text-decoration: none;
                    color: $primaryColor;
                }
            }
        }
    }

}